body {
    background-color: #CCCCFF;   
}
h1{
    color: white;
    font-family: bradley hand, cursive;
    font-size: 40;
    text-align: center;
    }
    
h2{
    color: white;
    font-family: bradley hand, cursive;
    font-size: 20;
    text-align: center;
    }

h3{
    color: #6A5ACD;
    font-family: Brush Script MT, cursive;
    font-size: 75;
    text-align: center;
    }

h4{
    color: white;
    font-family: bradley hand, cursive;
    font-size: 40;
    text-align: center;
    }

header{
    border-bottom: 4px dotted #6A5ACD;
    }


footer{
    border-bottom: 4px dotted #6A5ACD;
    }
