body {
    background-color: #6A5ACD;   
}
h1{
    color: #6A5ACD;
    font-family: bradley hand, cursive;
    font-size: 30;
    text-align: center;
    }
    
h2{
    color: white;
    font-family: bradley hand, cursive;
    font-size: 30;
    text-align: center;
    }

h3{
    color: #6A5ACD;
    font-family: Brush Script MT, cursive;
    font-size: 200;
    text-align: center;
    }

h4{
    color: white;
    font-family: bradley hand, cursive;
    font-size: 50;
    text-align: center;
    }

footer{
    border-bottom: thick double #6A5ACD;
    }
