body {
    background-color: rgb(172, 119, 255);   
}

h2{
    color: white;
    font-family: Garamond;
    font-size: 20;
    text-align: center;
}

h3{
    color: white;
    font-family: Garamond;
    font-size: 20;
    text-align: center;

h4{
    color: white;
    font-family: Garamond;
    font-size: 20;
    text-align: center;
}

header{
    border-bottom: 4px dotted rgb(14, 214, 198);
    }


footer{
    border-bottom: 4px dotted rgb(14, 214, 198);
    }
